/*@import '../vendors/bootstrap/scss/bootstrap.scss';*/
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
.pageLoader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: table;
  background: #fff; }
  .pageLoader .loader-wrap {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%; }
  .pageLoader .progress {
    max-width: 350px;
    margin: 0 auto; }

@keyframes textAnimation {
  0% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }
@keyframes widthAnimation {
  0% {
    /*transform: scaleX(0) translateX(-100%);*/
    width: 10px; }
  100% {
    /*transform: scaleX(1) translateX(0);*/
    width: 100%; } }
.name-effect {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  text-shadow: 5px 2px .5px red;
  letter-spacing: 0;
  /*white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  height: 80px;
  animation: widthAnimation 5s 5s ease-in-out infinite;
  */
  	/*span {
  		display: inline-block;
  		animation: textAnimation infinite;
  		animation-duration: 1000ms;
  		animation-timing-function: ease-in-out;
  
  
  
  		&:nth-child(1) { animation-delay: 500ms; }
  		&:nth-child(2) { animation-delay: 1000ms; }
  		&:nth-child(3) { animation-delay: 1500ms; }
  		&:nth-child(4) { animation-delay: 2000ms; }
  		&:nth-child(5) { animation-delay: 2500ms; }
  	}*/ }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333;
  background: #eee; }

h1, h2, h3, h4, h5 {
  font-weight: 500;
  position: relative;
  text-transform: uppercase; }

.radius-2 {
  border-radius: 2px !important; }

.radius-4 {
  border-radius: 4px !important; }

.radius-5 {
  border-radius: 5px !important; }

.radius-10 {
  border-radius: 10px !important; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1), transparent); }

.carousel-fade .carousel-inner .item {
  transition-property: opacity; }
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0; }
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0); }
.carousel-fade .carousel-control {
  z-index: 2; }

.m-0 {
  margin: 0 !important; }

.ml-0 {
  margin-left: 0 !important; }

.mr-0 {
  margin-right: 0 !important; }

.mt-0 {
  margin-top: 0 !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.p-0 {
  padding: 0 !important; }

.pl-0 {
  padding-left: 0 !important; }

.pr-0 {
  padding-right: 0 !important; }

.pt-0 {
  padding-top: 0 !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.main-area {
  position: relative;
  height: 100vh;
  overflow: hidden;
  max-width: 1250px;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 5px; }

/*left sidebar CSS here*/
.left-sitebar {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 300px;
  max-width: 300px;
  height: calc(100% - 25px );
  padding: 0;
  background: #fefefe;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  background: #7fc8e4; }
  .left-sitebar .left-sitebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    max-height: 100%;
    overflow: auto; }
    .left-sitebar .left-sitebar-content > * {
      z-index: 2; }
    .left-sitebar .left-sitebar-content:after {
      content: '';
      display: block;
      position: absolute;
      height: 50%;
      width: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(to right, #fff 0%, #b5f6ff 100%);
      z-index: 0;
      clip-path: polygon(0 0, 50% 50px, 100% 0, 100% 90%, 39% 100%, 0% 92%, 0 100%, 0 0); }
    .left-sitebar .left-sitebar-content:before {
      content: '';
      display: block;
      position: absolute;
      height: 50%;
      width: 100%;
      bottom: 0;
      left: 0;
      background: linear-gradient(to right, #0ddbf7 0%, #b5f6ff 100%);
      z-index: 1;
      clip-path: polygon(38% 13%, 100% 0, 100% 111px, 86% 22%, 30% 79%, 16% 60%, 29% 91%, 48% 73%, 64% 56%, 83% 40%, 100% 44%, 100% 48%, 100% 54%, 100% 63%, 100% 71%, 100% 81%, 100% 92%, 97% 100%, 86% 100%, 72% 100%, 58% 100%, 48% 100%, 40% 100%, 28% 100%, 12% 100%, 0 100%, 0 0%); }
  .left-sitebar .profile-image {
    background: #eee;
    clip-path: polygon(0 15%, 100% 0, 100% 90%, 0% 100%);
    box-shadow: inset 0px 0px 15px 10px #a0f4ff; }
    .left-sitebar .profile-image img {
      display: block;
      max-width: 100%;
      height: auto; }
  .left-sitebar .basicinfo {
    text-align: left;
    padding: 20px 10px 15px 10px; }
    .left-sitebar .basicinfo strong {
      display: block;
      color: #999;
      font-size: 30px;
      line-height: 32px;
      letter-spacing: 5px;
      text-transform: uppercase; }
    .left-sitebar .basicinfo p {
      margin: 0;
      font-size: 14px;
      font-style: italic;
      letter-spacing: 5px; }
  .left-sitebar .profile-area .sunglass {
    padding: 0 20px;
    position: relative;
    margin-top: -20px; }
    .left-sitebar .profile-area .sunglass img {
      display: block;
      max-width: 150px;
      height: auto; }
  .left-sitebar .profile-area .profile-list {
    position: relative;
    padding: 20px 20px 10px 20px;
    margin: 0;
    text-align: left; }
    .left-sitebar .profile-area .profile-list:before, .left-sitebar .profile-area .profile-list:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      background: #a0f4ff; }
    .left-sitebar .profile-area .profile-list:before {
      left: 0;
      width: 100px;
      height: 2px;
      border-radius: 0 2px 2px 0; }
    .left-sitebar .profile-area .profile-list:after {
      left: 20px;
      width: 2px;
      height: 100%; }
    .left-sitebar .profile-area .profile-list li {
      padding: 10px 25px;
      position: relative; }
      .left-sitebar .profile-area .profile-list li .dimont {
        /*content:'';*/
        display: block;
        position: absolute;
        top: 15px;
        left: 8px;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        background: #fff;
        border: 1px solid #a0f4ff; }
        .left-sitebar .profile-area .profile-list li .dimont:before {
          content: '';
          display: block;
          position: absolute;
          right: 15px;
          height: 2px;
          width: 7px;
          background: #a0f4ff;
          transform: rotate(-45deg) translateY(12px); }
      .left-sitebar .profile-area .profile-list li:last-child:after {
        content: '';
        display: block;
        position: absolute;
        top: 21px;
        left: -1px;
        width: 4px;
        height: calc(100% - 5px);
        background: #18ddf8;
        z-index: 1; }
  .left-sitebar footer {
    margin-top: auto; }
    .left-sitebar footer .connected {
      display: flex;
      justify-content: center; }
      .left-sitebar footer .connected a {
        margin: 5px 2px; }

.site-header {
  height: 50px;
  text-align: center;
  padding: 20px;
  background: #a0f4ff;
  position: relative;
  position: sticky;
  z-index: 9;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.6); }

.main-content {
  margin-left: 320px;
  border-radius: 10px;
  height: 100%;
  background: #fff;
  position: relative;
  overflow: hidden;
  margin-right: 10px; }
  .main-content .content {
    max-height: 100%;
    overflow: hidden;
    box-shadow: inset 0 0 30px 0px rgba(0, 0, 0, 0.3); }
  .main-content .banner-info {
    position: absolute;
    top: 50%;
    left: 0;
    width: 75%;
    z-index: 10;
    transform: translateY(-50%);
    padding: 10px; }

.card {
  box-shadow: inherit;
  padding: 5px 10px;
  margin: 0;
  background-color: inherit; }

.footer {
  background: #a0f4ff;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  height: 25px;
  box-shadow: -1px 0px 5px 0 rgba(0, 0, 0, 0.1);
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px; }
  .footer p {
    margin: 0;
    text-align: center; }

.mCSB_inside > .mCSB_container {
  margin-right: 0; }

.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_draggerRail {
  background: inherit; }

.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #00dbf7;
  border: 1px solid #fff; }

/*# sourceMappingURL=style.css.map */
