.pageLoader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: table;
  background: #fff; }
  .pageLoader .loader-wrap {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%; }
  .pageLoader .progress {
    max-width: 350px;
    margin: 0 auto; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333;
  background: #eee; }

h1, h2, h3, h4, h5 {
  font-weight: 500;
  position: relative;
  text-transform: uppercase; }

.radius-2 {
  border-radius: 2px !important; }

.radius-4 {
  border-radius: 4px !important; }

.radius-5 {
  border-radius: 5px !important; }

.radius-10 {
  border-radius: 10px !important; }

.m-0 {
  margin: 0 !important; }

.ml-0 {
  margin-left: 0 !important; }

.mr-0 {
  margin-right: 0 !important; }

.mt-0 {
  margin-top: 0 !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.p-0 {
  padding: 0 !important; }

.pl-0 {
  padding-left: 0 !important; }

.pr-0 {
  padding-right: 0 !important; }

.pt-0 {
  padding-top: 0 !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.main-area {
  position: relative;
  height: 100vh;
  overflow: hidden;
  max-width: 1250px;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 5px; }

/*left sidebar CSS here*/
.left-sitebar {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 300px;
  max-width: 300px;
  height: calc(100% - 25px );
  padding: 0;
  background: #fefefe;
  border-radius: 5px;
  text-align: center;
  overflow: hidden; }
  .left-sitebar .left-sitebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    max-height: 100%;
    overflow: auto; }
  .left-sitebar .profile-image {
    background: #eee;
    clip-path: polygon(0 15%, 100% 0, 100% 90%, 0% 100%);
    box-shadow: inset 0px 0px 15px 10px #a0f4ff; }
    .left-sitebar .profile-image img {
      display: block;
      max-width: 100%;
      height: auto; }
  .left-sitebar .basicinfo {
    text-align: left;
    padding: 20px 10px 15px 10px; }
    .left-sitebar .basicinfo strong {
      display: block;
      color: #999;
      font-size: 30px;
      line-height: 32px;
      letter-spacing: 5px;
      text-transform: uppercase; }
    .left-sitebar .basicinfo p {
      margin: 0;
      font-size: 14px;
      font-style: italic;
      letter-spacing: 5px; }
  .left-sitebar .profile-area .sunglass {
    padding: 0 20px;
    position: relative;
    margin-top: -20px; }
    .left-sitebar .profile-area .sunglass img {
      display: block;
      max-width: 150px;
      height: auto; }
  .left-sitebar .profile-area .profile-list {
    position: relative;
    padding: 20px 20px 10px 20px;
    margin: 0;
    text-align: left; }
    .left-sitebar .profile-area .profile-list:before, .left-sitebar .profile-area .profile-list:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      background: #a0f4ff; }
    .left-sitebar .profile-area .profile-list:before {
      left: 0;
      width: 100px;
      height: 2px;
      border-radius: 0 2px 2px 0; }
    .left-sitebar .profile-area .profile-list:after {
      left: 20px;
      width: 2px;
      height: 100%; }
    .left-sitebar .profile-area .profile-list li {
      padding: 10px 25px;
      position: relative; }
      .left-sitebar .profile-area .profile-list li .dimont {
        /*content:'';*/
        display: block;
        position: absolute;
        top: 15px;
        left: 8px;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        background: #fff;
        border: 1px solid #a0f4ff; }
        .left-sitebar .profile-area .profile-list li .dimont:before {
          content: '';
          display: block;
          position: absolute;
          right: 15px;
          height: 2px;
          width: 7px;
          background: #a0f4ff;
          transform: rotate(-45deg) translateY(12px); }
      .left-sitebar .profile-area .profile-list li:last-child:after {
        content: '';
        display: block;
        position: absolute;
        top: 21px;
        left: -1px;
        width: 4px;
        height: calc(100% - 5px);
        background: #fff;
        z-index: 1; }
  .left-sitebar footer {
    margin-top: auto; }
    .left-sitebar footer .connected {
      display: flex;
      justify-content: center; }
      .left-sitebar footer .connected a {
        margin: 5px 2px; }

.site-header {
  height: 50px;
  text-align: center;
  padding: 20px;
  background: #a0f4ff;
  position: relative;
  position: sticky;
  z-index: 9;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.6); }

.main-content {
  margin-left: 320px;
  border-radius: 10px;
  height: 100%;
  background: #fff;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
  /*visibility: hidden;*/ }
  .main-content .content {
    max-height: calc(100% - 75px);
    overflow: hidden; }

.card {
  box-shadow: inherit;
  padding: 5px 10px;
  margin: 0; }

.footer {
  background: #a0f4ff;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  height: 25px;
  box-shadow: -1px 0px 5px 0 rgba(0, 0, 0, 0.1);
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px; }
  .footer p {
    margin: 0;
    text-align: center; }

.mCSB_inside > .mCSB_container {
  margin-right: 15px; }

/*# sourceMappingURL=style.css.map */
