.footer {
	background: #a0f4ff;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 1;
	height: 25px;
	box-shadow: -1px 0px 5px 0 rgba(0,0,0,0.1);
	line-height: 16px;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 5px;
	p {
		margin: 0;
		text-align: center;
	}
}