@import 'pageLoader';
@import 'scaleAnimation';
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #333;
	background: #eee;
}
h1,h2,h3,h4,h5 {
	font-weight: 500;
	position: relative;
	text-transform: uppercase;
}

@import 'utility';
@import 'spacing';

.main-area {
	position: relative;
	height: 100vh;
	overflow: hidden;
	max-width: 1250px;
	margin: 0 auto;
	padding: 10px 0;
	border-radius: 5px;
}

@import 'leftPanel';
@import 'header';
@import 'main';
@import 'footer';

.mCSB_inside > .mCSB_container {
	margin-right: 0;
}
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_draggerRail {
	background: inherit;
}
.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #00dbf7;
    border: 1px solid #fff;
}