.main-content {
    margin-left: 320px;
    border-radius: 10px;
    height: 100%;
    background: #fff;	
	position: relative;
	overflow: hidden;
	margin-right: 10px;
	/*visibility: hidden;*/
	
	.content {
		max-height: calc(100% - 75px);
		overflow: hidden;
	}
}

.card {
	box-shadow: inherit;
	padding: 5px 10px;
	margin: 0;
}