.radius-2 { border-radius: 2px !important; }
.radius-4 { border-radius: 4px !important; }
.radius-5 { border-radius: 5px !important; }
.radius-10 { border-radius: 10px !important; }


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0,0,0,0.3);
    background-image: linear-gradient(to right, rgba(0,0,0,.5),rgba(0,0,0,.1), transparent);
}




