
body {
	background: -webkit-linear-gradient(to right, #DEE8CE, #1EAAC1);
	background: linear-gradient(to right, #DEE8CE, #1EAAC1);
	font-family: 'Raleway', sans-serif;
	/*font-family: 'Niconne', cursive;*/
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	color: #333;
}
h1,h2,h3,h4,h5 {
	font-family: 'Niconne', cursive;
	font-weight: 700;
	position: relative;
}

@import 'spacing';

.main-area {
	position: relative;
	min-height: 100vh;
	overflow-y: hidden; 
	@import 'left-panel.scss';
	@import 'main';
}