/*left sidebar CSS here*/

.left-sitebar  {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 300px;
	max-width: 300px;
	height: calc(100% - 25px );
	padding: 0;
	background: #fefefe;
	border-radius: 5px;
	text-align: center;
	overflow: hidden;

	.left-sitebar-content {
		display: flex;
		height: 100%;
		flex-direction: column;
		max-height: 100%;
		overflow: auto;
	}

	.profile-image {
		background: #eee;
		clip-path: polygon(0 15%, 100% 0, 100% 90%, 0% 100%);
		box-shadow: inset 0px 0px 15px 10px rgb(160, 244, 255);
		
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}

	}

	.basicinfo {
		text-align: left;
		padding: 20px 10px 15px 10px;
		strong {
		    display: block;
		    color: #999;
			font-size: 30px;
		    line-height: 32px;
		    letter-spacing: 5px;
		    text-transform: uppercase;
		}
		p {
		    margin: 0;
		    font-size: 14px;
		    font-style: italic;
		    letter-spacing: 5px;
		}
	}

	.profile-area {
		.sunglass {
			padding: 0 20px;
			position: relative;
			margin-top: -20px;
			img {
				display: block;
				max-width: 150px;
				height: auto;
			}
		}
		.profile-list {
			position: relative;
			padding: 20px 20px 10px 20px;
			margin: 0;
			text-align: left;
			&:before,
			&:after {
				content:'';
				display: block;
				position: absolute;
				top: 0;
				background: #a0f4ff;
			}
			&:before {
				left: 0;
				width: 100px;
				height: 2px;
				border-radius: 0 2px 2px 0;
			}
			&:after {
				left: 20px;
				width: 2px;
				height: 100%
			}
			li {
				padding: 10px 25px;
				position: relative;
				.dimont {
					/*content:'';*/
					display: block;
					position: absolute;
					top: 15px;
					left: 8px;
					width: 10px;
					height: 10px;
					transform: rotate(45deg);
					background: #fff;
					border: 1px solid #a0f4ff;
					&:before {
						content: '';
					    display: block;
					    position: absolute;
					    right: 15px;
					    height: 2px;
					    width: 7px;
					    background: #a0f4ff;
					    transform: rotate(-45deg) translateY(12px);
					}
				}

				&:last-child:after {
					content:'';
					display: block;
					position: absolute;
					top: 21px;
					left: -1px;
					width: 4px;
					height: calc(100% - 5px);
					background: #fff;
					z-index: 1;
				}
			}
		}
	}
	
	footer {
		margin-top: auto;
		.connected  {
			display: flex;
			justify-content: center;
			a {
				margin: 5px 2px;
			}
		}
	}
	
}